[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
icecream = "*"

[packages]
pylint = "*"
mypy = "*"
pytest = "*"
flask = "*"
flask-restful = "*"
requests = "*"

[requires]
python_version = "3.6"
